.page_40{ padding:40px 0; background:#fffc3c; font-family: 'Arvo', serif;
}

.page_40  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_40{			 
	color: #c4c0c0!important;
    padding: 10px 20px;
    background: #91ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_40{ margin-top:-50px;}